

body {
    background: rgb(234, 227, 227);
    font-family: 'Courier New', Courier, monospace;
}

h1, h3 {
text-align: center;
font-size: 2em;
}

.container-main{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.container-upload{
    display: flex;
    gap: 20px;
    padding: 30px;
    align-items: center;
    align-content: stretch;
}

.container {
    font-size: 1.6em;
    display: flex;
    width: 1200px;
    flex-direction: column;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 60px;
    background-color: rgb(249, 249, 249);
    height: 100px;
}


/* Esconde o input */
input[type=file]::-webkit-file-upload-button {
    border: 1px solid grey;
    background: #FFFAAA;
    display: none;
  }
  
  /* Aparência que terá o seletor de arquivo */
  #file {
    background-color: #3498db;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    padding: 6px 20px
  }


  .btn-send{
    margin-top: 20px;
  }

  img {
    max-width: 500px;
    height: 300px;
  }


  .preview{
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1200px;
    max-height: 400px;
    height:400px;
    padding: 10px;
  }


  /* botao */


  .btn {
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  /* Pseudo elements for icons */
  .btn:before {
    font-family: 'FontAwesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
  }

  .btn-4 {
    background: #34495e;
    color: #fff;
  }
  
  .btn-4:hover {
    background: #2c3e50;
  }
  
  .btn-4:active {
    background: #2c3e50;
    top: 2px;
  }
  
  .btn-4:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  